body {
    background-color: #222222;
}

h1 {
    color: #AAAAAA;
}

h2 {
    color: #AAAAAA;
}

h3 {
    color: #AAAAAA;
}


a {
    color: #FFFFFF;
}


p {
    color: #CCCCCC;
}

ol {
    color: #CCCCCC;
}

table {
    color: #CCCCCC;
    border: 1px solid #AAAAAA;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    white-space: nowrap;
}

td,
th {
    color: #CCCCCC;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.artikkeliteksti {
    display: inline-block;
    width: 75%;
}

.blogiteksti {
    display: inline-block;
    width: 100%;
}

/* The sidebar menu */
.sivu {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 25%;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: #222222;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sivu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sivu a:hover {
    color: #f1f1f1;
}

.etusivu_boksi {
    background-color: #222;
    display: inline-block;
    width: auto;
    border-style: solid;
    border: 1px solid #f88;
}

.etusivu_boksi p {
    color: #f88;
    padding: 5px;
}

.etusivu_boksi table {
    color: #f88;
    border-color: #f88;
}

.etusivu_boksi th {
    color: #f88;
}

.etusivu_boksi td {
    color: #f88;
}