body {
    background-color: #222222;
}

h1 {
    color: #AAAAAA;
}

h2 {
    color: #AAAAAA;
}

h3 {
    color: #AAAAAA;
}


a {
    color: #FFFFFF;
}


p {
    color: #CCCCCC;
}

ol {
    color: #CCCCCC;
}

table {
    color: #CCCCCC;
    border: 1px solid #AAAAAA;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    white-space: nowrap;
}

td,
th {
    color: #CCCCCC;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
}

tr:nth-child(even) {
    background-color: #444;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.artikkeliteksti {
    display: inline-block;
    width: 100%;
    max-width: 900px;
}

.blogiteksti {
    display: inline-block;
    width: 100%;
    max-width: 1075px;
}


.etusivu_boksi {
    background-color: #222;
    border-style: solid;
    border: 1px solid #f88;
    max-width: 455px;
    max-width: 455px;
    display: auto;
}

.etusivu_boksi p {
    color: #f88;
    padding: 5px;
}

.etusivu_boksi table {
    color: #f88;
    border-color: #f88;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.etusivu_boksi th {
    color: #f88;
}

.etusivu_boksi td {
    color: #f88;
}

.etusivu_boksi tr:nth-child(even) {
    background-color: #444;
}


.etusivu_boksi2 {
    background-color: #222;
    border-style: solid;
    border: 1px solid #8f8;
    max-width: 455px;
    max-width: 455px;
    display: auto;
}

.etusivu_boksi2 p {
    color: #8f8;
    padding: 5px;
}

.etusivu_boksi2 table {
    color: #8f8;
    border-color: #8f8;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.etusivu_boksi2 th {
    color: #8f8;
}

.etusivu_boksi2 td {
    color: #8f8;
}

.etusivu_boksi2 tr:nth-child(even) {
    background-color: #444;
}